# .env file template
# ========================================================================


# ========================= Single host setup =======================
# ====== Change ONLY these when WiFi / IPs change ======

# This machine's IP (the Docker host)
DOCKER_HOST_IP=192.168.1.106  

# Ollama runs locally on this machine
OLLAMA_HOST=127.0.0.1

# Ollama model to use
#uncomment the line you want to use as env variable in your setup
#OLLAMA_MODEL=<your_model_name>
#OLLAMA_EMBEDDING=<your_embedding_model>


# ========================= Multi-host setup =======================
# ====== Use these IN ADDITION to the single host section ======
# ====== Only if you want the two-host Cassandra setup ======

# Your WSL Windows host IP (the stable one from Windows side)
WSL_HOST_IP=192.168.1.188  


# ==================================================================
# Other settings (rarely need to change)
# Beware of case sensitivity !
CASSANDRA_CLUSTER_NAME=cluster_name   # change this to your cluster name
CASSANDRA_DC=dc1
CASSANDRA_RACK=rack1
MAX_HEAP_SIZE=1G
HEAP_NEWSIZE=256M