# .env file template
# ================== Change these when WiFi / IPs change ==================

# Your WSL Windows host IP (the stable one from Windows side)
WSL_HOST_IP=192.168.1.188 #IP iness

# This machine's IP (the Docker host)
DOCKER_HOST_IP=192.168.1.106 # Ip Yann

# ========================================================================

# Other settings (rarely need to change)
CASSANDRA_CLUSTER_NAME=cluster_name #change this to your cluster name
CASSANDRA_DC=DC1
CASSANDRA_RACK=RACK1
MAX_HEAP_SIZE=1G
HEAP_NEWSIZE=256M